<div class="container" id="register-and-login-padding">
  <form class="form-signin" (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Bienvenido</h1>
      </div>

      <div class="form-group">
        <label for="inputName">Nombre</label>
        <input type="text" id="inputName" class="form-control" placeholder="Nombre"
               [(ngModel)]="name" name='name' #inputName="ngModel"  required>
        <div class="alert alert-danger"
              *ngIf="inputName.touched && !inputName.valid">Se require este campo
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email"
               [(ngModel)]="email" name='email' #inputEmail="ngModel"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (change)="validationEmail(inputEmail)"
               required>
        <div   class="alert alert-danger"
               *ngIf="inputEmail.touched && !inputEmail.valid">Se require este campo
        </div>
        <div   class="alert alert-danger"
               *ngIf="validateEmail === false">Este correo ya fue usado
        </div>
      </div>

      <div class="form-group">
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" class="form-control" placeholder="Nombre de usuario"
               [(ngModel)]="username" name='username' #inputUsername="ngModel"
               (change)='validationUsername(inputUsername)'
               required>
      </div>
      <div   class="alert alert-danger"
             *ngIf="inputUsername.touched && !inputUsername.valid">Se require este campo
      </div>
      <div   class="alert alert-danger"
             *ngIf="validateUsername === false">Este nombre de usuario ya fue usado
      </div>

      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password"
               [(ngModel)]="password" name='password' #inputPassword="ngModel"
               required>
      </div>
      <div   class="alert alert-danger"
             *ngIf="inputPassword.touched && !inputPassword.valid">Se require este campo
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit"
              [disabled]="!heroForm.form.valid || !validateEmail || !validateUsername">Registro</button>
  </form>
</div>
